apache-airflow-providers-amazon
apache-airflow-providers-common-compat
apache-airflow-providers-common-sql
apache-airflow-providers-http
apache-airflow-providers-smtp
boto3
apache-airflow-providers-snowflake
snowflake-connector-python
snowflake-sqlalchemy
snowflake-snowpark-python
pandas
pyarrow
polars
connectorx
adbc-driver-postgresql
dbt-snowflake
psycopg2-binary
astronomer-cosmos
gspread
oauth2client
pytest
flake8