name: CoreTelecoms CI Pipeline

on:
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'
      - 'docs/**'
  push:
    branches: [ "**" ]
    paths-ignore:
      - '**.md'
      - 'docs/**'

jobs:
  quality-checks:
    name: Code Quality & Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Linting Tools
        run: pip install flake8 sqlfluff

      - name: Lint Python Code (DAGs & Scripts)
        run: |
          flake8 dags scripts --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: Lint SQL Code (dbt Models)
        run: |
          DBT_DIR=$(dirname $(find . -name dbt_project.yml -type f | head -n 1))
          
          echo "Found dbt project at: $DBT_DIR"
          
          if [ -z "$DBT_DIR" ]; then
            echo "Error: dbt_project.yml not found!"
            exit 1
          fi
          
          # Run sqlfluff on the 'models' subdirectory of that found folder
          sqlfluff lint "$DBT_DIR/models" --dialect snowflake

  unit-tests:
    name: Unit Testing
    runs-on: ubuntu-latest
    needs: quality-checks
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Dependencies
        run: |
          pip install apache-airflow pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run Airflow DAG Unit Tests
        env:
          AIRFLOW_HOME: ${{ github.workspace }}
        run: |
          export PYTHONPATH="${PYTHONPATH}:${{ github.workspace }}"
          
          pytest tests/test_load_snowflake_pipeline.py